.answers {
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.header {
  padding: 3vh;
  text-align: center;
  font-size: 6vh;
}

.score {
  font-size: 5vh;
  line-height: 40vh;
}

.button {
  border-radius: 5vh;
  font-size: 5vh;
  background-color: rgb(104, 43, 161);
  padding: 2vh;
  margin: 1vw;
}

.button:active {
  background-color: rgb(132, 130, 229);
}

.ol {
  text-align: center;
}
.li {
  text-align: center;
  margin-bottom: 3vh;
}

.center_ol {
  text-align: center;
  font-size: 5vh;
  list-style-position: inside;
}
